<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dylanodekirk.zeldaapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/navilaunchericon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/navilaunchericon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EquipmentActivity"
            android:label="@string/title_activity_equipment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UpgradesActivity"
            android:label="@string/title_activity_upgrades"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CollectableActivity"
            android:label="@string/title_activity_collectable"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BottleItemsActivity"
            android:label="@string/title_activity_bottle_items"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DungeonItemsActivity"
            android:label="@string/title_activity_dungeon_items"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QuestActivity"
            android:label="@string/title_activity_quest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InventoryActivity"
            android:label="@string/title_activity_inventory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DisplayInformationActivity"
            android:label="@string/title_activity_display_information"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>